* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 40rem) {
  .row,
  footer {
    display: flex;
    flex-direction: column !important;
  }
}

body {
  font-family: "JetBrains Mono", monospace;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0 10px 0;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  margin-right: 5px;
}

header span {
  margin-left: 10px;
  margin-right: 10px;
}

header small {
  margin-top: 10px;
  font-style: italic;
}

span {
  padding: 2px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

footer {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

main {
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.side {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  margin: 20px;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 0.2s ease-in-out;
}

.img img {
  width: 250px;
  height: 250px;
  border-radius: 2rem;
  margin: -5px;
  padding: -5px;
}

.img:hover {
  transform: scale(1.7);
}

.description {
  border-radius: 2rem;
  width: 410px;
  padding: 20px;
  background-color: #fff;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.description p {
  padding: 5px;
}

.get {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.button div {
  margin-top: 5px;
}
.button em {
  color: orange;
}

.button {
  margin: 10px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  /*  */
  /* height: 48px; */
  padding: 10px;
  flex-direction: column;
  /*  */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
